<div class="text-center">
  <h1>Payroll Administration</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li>
          Vinoothna has a well established and robust payroll processing system in place that is a combination of the best of software tools, expert know how, IT infrastructure and a strong payroll team. 
        </li>
        <li>
          In response to articulated customer needs and as a logical extension of our services portfolio, we had introduced Payroll Process Outsourcing services as a standalone offering a few years ago. 
        </li>
        <li>
          Designed to manage payroll of your on-roll employees, our payroll processing services are configured to cater to your specific requirements.
        </li>
      </ul>
    </div>
  </div>
</div>