<div class="container" class="table-styling">
  <div>
    <h2 style="display:inline-block;" >Add Products</h2>
  </div>
  <hr>
  <form *ngIf="items" >
    <div class="form-group" >
      <label>Catlog</label>
      <select class="form-control" type="text"  [(ngModel)]="catlogname" name="catlogname" (change)="getcat()" required>
        <option *ngFor="let cat of catlog" value="{{cat.id}}">{{cat.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Product Name</label>
      <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
    </div> 
    <div class="form-group">
      <input id="image" name="image" [(ngModel)]="image" type="file" >
    </div>

  </form>
</div>

<div class="container"   class="table-styling">
  <div>
    <h2 style="display:inline-block;" >Select Category</h2>
  </div>
  <hr>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#selectcategory"><label>Category</label></a></li>
  </ul>
  
    <div class="tab-content">
      <div id="selectcategory" class="tab-pane fade in active">
        <form *ngIf="items" >
          <div class="form-group" >
            <div class="container-fluid" style="border:1px solid;border-color:lightgrey;">
              <div class="col-sm-6" style="padding:2%;">
                  <div *ngFor="let Pcat of PCategories" style="padding:2%;">
                    <label *ngFor="let space of Pcat.space">&emsp;</label>
                    <input [(ngModel)]="Pcat.check" [disabled]="Pcat.isProduct" [ngModelOptions]="{standalone: true}" type="checkbox"/>{{Pcat.name}}
                  </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>

<div class="container"  class="table-styling">
  <div class="row" style="min-height:300px;padding:2%;">
    <div >
      <h3>Product Data</h3>
      <hr/>
      <div class="col-xs-3">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
              <li><a href="#profile" data-toggle="tab">Profile</a></li>
              <li><a href="#messages" data-toggle="tab">Messages</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
          </ul>
      </div>
      <div class="col-xs-9">
          <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">Home Tab.</div>
            <div class="tab-pane" id="profile">Profile Tab.</div>
            <div class="tab-pane" id="messages">Messages Tab.</div>
            <div class="tab-pane" id="settings">Settings Tab.</div>
        </div>
      </div>
    <div class="clearfix"></div>
    <input type="submit" (click)="addProduct()" [disabled]="!catlogname || !name"  data-dismiss="modal" class="btn btn-success" style="float:right">
  </div>
</div>
