#services {padding-top:50px;height:500px;color: #fff; background-color: #e5b81e;}
#projects {padding-top:50px;height:500px;color: #fff; background-color: rgba(103, 58, 185,0.85);}
#about {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
#products41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#products42 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}

.text-justify-right {
    text-align: justify;
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: right;
    font-style: italic;
}
.text-justify-left {
    text-align: justify;
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
    font-style: italic;
}
