<div id="about" class="container-fluid">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">ABOUT</h2>
    <h3 class="section-subheading" style="color:#333">Lorem ipsum dolor sit amet consectetur.</h3>
  </div>
  <div class="row">
    <div class="col-md-5  text-justify-rigth" style="
    height: 329px;margin-right:-22px">
    <h3 class="text-justify font-italic" style="padding-top: 55px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</h3>
    </div>
    <div class="col-sm-5">
      <img src="https://image.freepik.com/free-vector/hand-drawn-business-icons_23-2147506869.jpg" class="img-responsive img-circle" style="width:50%" alt="Image">
    </div>     
  </div>
</div>
<div id="services" class="container-fluid">
  <h1 class="text-center">SERVICES</h1>
  <p class="text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
  <div class="row text-center" style="margin-top: 6%;">
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">E-Commerce</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Responsive Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">Web Security</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
    </div>
  </div>
</div>
<div id="projects" class="container-fluid">
  <h3 class="text-center">PROJECTS</h3><br>
  <div class="row">
    <div class="col-md-6" style="
    height: 329px;
    margin-left: 40px;">
    <h3 class="text-center text-justify font-italic" style="padding-top: 55px;">
    We have a commitment to sustainability, not only to the land, but to ourselves and to those around us.Every fruit and vegetable is grown with dedication, love, and good old–fashioned (and organic) Tennessee soil. Our commitment is simple — to provide only the best.</h3>
    </div>
    <div class="col-sm-5" style="padding-left:15%;padding-top:20px;">
      <img src="https://www.callcentrehelper.com/images/stories/2010/2017/01/Businessman-Celebrates-Contract-Trophy-760.jpg" class="img-responsive img-circle" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-5" style="margin-top:4%;padding-left:25%;">
      <button class="btn btn-success btn-lg">Know more</button>
    </div>     
  </div>
</div>
<div id="products41" class="container-fluid">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">PRODUCTS</h2>
        <h3 class="section-subheading" style="color:#333">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-sm-5" style="margin-left: 40%; margin-right: -20%;">
        <img src="https://us.123rf.com/450wm/andreykuzmin/andreykuzmin1205/andreykuzmin120500059/13712414-uhrwerk-zahnr-der-metall-hintergrund.jpg?ver=6" class="img-responsive img-circle" style="width:50%" alt="Image">
      </div> 
      <div class="col-md-4  text-justify-left" style="
      height: 329px;">
      <h3 class="text-justify font-italic" style="padding-top: 55px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, consectetur!</h3>
    </div>     
  </div>
</div>
<div id="products42" class="container-fluid">
  <div class="row">
    <div class="col-md-5  text-justify-right" style="
    height: 329px;margin-right:-22px">
    <h3 class="text-justify font-italic" style="padding-top: 55px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, consectetur!</h3>
    </div>
    <div class="col-sm-5">
      <img src="http://fepc.us/images/FEA3.jpg" class="img-responsive img-circle" style="width:50%" alt="Image">
    </div>     
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>