<div class="text-center">
  <h1>DESIGN VALIDATION</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-10">
      <ul>
        <li>
          Vinoothna offers the wide range of CAE services and solutions, geared towards testing & validation of various structures, systems and components to ensure precise functioning. 
          Integrated design support and engineering further enhances quality of each of the component and structural unit. 
          Our engineering services delivers solutions using latest analysis software tools and standards
        </li>
        <li> Structural Analysis</li>
        <li>Finite Element Meshing</li>
        <li>Heat Transfer and Thermal Analysis</li>
        <li>Advanced Analysis - Non-Linear Material, Contact, Geometry</li>
        <li>Dynamic Analysis - Modal, Frequency Response, Vibration, PSD, Full Transient (Explicit, Implicit)</li>
        <li>Multi-Body Dynamics, including analysis of assemblies with flexible-bodies</li>
        <li>Life-Cycle Analysis - Fatigue, Fracture and Buckling</li>
        <li>NVH, Durability and Crash Analysis</li>
        <li>Shape and Weight Optimization</li>
        <li>Instability Analysis</li>
      </ul>
    </div>
  </div>
</div>