<div class="text-center">
  <h1>Contract Administration</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li>
          Vinoothna manages and administers projects on behalf of companies that require personnel for short term contracts of 3 months to a 1 year contract term.
        </li>
        <li>
          We cater to companies involved in major projects and organisations that may be facing increased workload or headcount. 
        </li>
        <li>
          We assist such clients by recruiting staff for the project and overseeing the administrative and logistic requirements throughout the agreed term.
        </li>
      </ul>
    </div>
  </div>
</div>