<div class="text-center">
  <h1>PRODUCT DESIGN</h1> 
</div>
  
<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <u><h3>Core Design Capabilities</h3></u>
      <ul>
        <li>Structures</li>
        <li>Closures, Doors and Panels</li>
        <li>Interiors, Exterior</li>
        <li>Wire Harness</li>
        <li>Electrical systems</li>
        <li>HVAC</li>
        <li>SPM’S</li>
        <li>CAM</li>
        <li>MECHANISM SIMULATION</li>
        <li>RENDERING</li>
        <li>PIPING AND TUBING</li>
        <li>INJECTION MOULDING</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <u><h3>Design Services</h3></u>
      <ul>
        <li>Layout and configuration design</li>
        <li>Conceptual Design</li>
        <li>3D Modeling</li>
        <li>Detail Design</li>
        <li>2D Drawings</li>
        <li>MBD</li>
        <li>Re-Engineering & Reverse Engineering</li>
        <li>Value Engineering</li>
        <li>costing</li>
        <li>Weight optimization</li>
        <li>Tolerance stack-up</li>
        <li>Manufacturing support</li>
        </ul>
    </div>
  </div>
</div>