<div class="text-center">
  <h1>Permenant Recruitment</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li>
          Vinoothna's permanent recruitment operation was established to provide a high-quality. Professional recruitment service in all markets where we specialise.
        </li>
        <li>
          Our total quality management program means that we have a fully integrated staff recruitment and selection process.  
          It includes detailed assignment briefing and fully validated testing procedures, as well as psychometric assessments and behavioural interview techniques.  
        </li>
        <li>
          Extensive reference checking enables us to select and refer only candidates of the highest calibre ideally matched to your needs.
        </li>
      </ul>
    </div>
  </div>
</div>