<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" style="width:39%;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div>
        <img src="assets/img/VINOOOTHNALOGO.jpg" alt="" width="10%" style="float:left; border-radius:15px;">
      </div>
      <div>
        <a class="navbar-brand" href="#">VINOOTHNA</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Products &#9662;</a>
          <ul class="dropdown nav navbar-nav dropdownspacing">
              <li style="width:100%;"><a [routerLink]="['/products']">IRON CAD</a></li>
          </ul>
      </li>
        <li><a href="#services">Services &#9662;</a>
          <ul class="dropdown nav navbar-nav dropdownspacing">
              <li style="width:100%;"><a [routerLink]="['/product-design']">Product Design</a></li>
              <li style="width:100%;"><a [routerLink]="['/product-development']">Product Development</a></li>
              <li style="width:100%;"><a [routerLink]="['/design-validation']">Design Validation</a></li>
              <li style="width:100%;"><a [routerLink]="['/technical-documentation']">Technical Documentation</a></li>
              <li style="width:100%;"><a [routerLink]="['/design-automation']">Design Automation</a></li>
              <li style="width: 100%;"><a [routerLink]="['/training']">Training</a></li>
              <li style="width:100%;"><a href="#">Legacy Data Conversion</a></li>
              <li style="width:100%;"><a href="#">2D/3D Design Services</a></li>
          </ul>
        </li>
        <li><a href="#projects">Training &#9662;</a>
            <ul class="dropdown nav navbar-nav dropdownspacing">
              <li style="width:100%;"><a href="#">3D</a></li>
              <li style="width:100%;"><a href="#">2D</a></li>
              <li style="width:100%;"><a href="#">Design Validation</a></li>
              <li style="width:100%;"><a href="#">Others</a></li>
            </ul>
        </li>
        <li><a href="#projects">Staffing &#9662;</a>
          <ul class="dropdown nav navbar-nav dropdownspacing">
            <li style="width:100%;"><a [routerLink]="['/permenant-recruitment']">Permenant Recruitment</a></li>
            <li style="width:100%;"><a [routerLink]="['/contract-administration']">Contract Administration</a></li>
            <li style="width:100%;"><a [routerLink]="['/payroll-administration']">PayRoll Administration</a></li>
            <li style="width:100%;"><a [routerLink]="['/implementation-service']">Implementation Services</a></li>
          </ul>
        </li>
        <li><a href="#projects">Web Design</a>
        </li>
        <li>
            <a href="#products41">Contact Us &#9662;</a>
            <ul class="dropdown nav navbar-nav">
                <li style="width:100%;"><a href="#products41">Address</a></li>
                <li style="width:100%;"><a data-toggle="modal" data-target="#myModal">Register</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">VINOOTHNAe</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">Section 1</a></li>
            <li><a href="#section2">Section 2</a></li>
            <li><a href="#section3">Section 3</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>  -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" style="padding:5%">
        
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Your Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="person.name" [ngModelOptions]="{standalone: true}" id="name"  placeholder="Enter your Name"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}" id="email"  placeholder="Enter your Email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label"> Your Mobile</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="person.mobile" [ngModelOptions]="{standalone: true}" id="mobile"  placeholder="Enter your mobile"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="button"  [disabled]="!person.mobile || !person.name || !person.email" class="btn btn-primary btn-md btn-block login-button" data-dismiss="modal" (click)="addItem(person)" >Register</button>
        </div>	
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>