<div class="text-center">
    <h1>PRODUCT DEVELOPMENT</h1> 
  </div>
  <div class="container jumbotron ">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>
              The customer requirements are varied and at times complex. 
              We take a customer centric approach to concept and solution development where in we aim to optimize resources, cut cost and enhance value. 
              We believe in meticulous planning and documenting the same, which will take us seamlessly through the product development process.
          </li><br>
          <li>
            We help our clients from the concept stage where a product idea takes the shape. 
            We assess the viability, cost and other factors working along with the client. 
            We sign the non disclosure agreement with the client before getting in to the preliminary development and documentation.
          </li><br>
          <li>
            The project takes-off with design & drafting. 
            A detailed report is presented along with the designs. 
            Then up on the approvals we take the project through the build and test phase before delivering the final product.
          </li>
        </ul>
      </div>
    </div>
  </div>
    