<div class="text-center">
  <h1>TRAINING</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li>
          ONLINE and OFFLINE PROFESSIONAL TRAINING in softwares like:
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <u><h4>3D SOFTWARES</h4></u>
      <ul>
        <li>SOLIDWORKS</li>
        <li>CREO/PRO-E</li>
        <li>AUTODESK INVENTOR</li>
        <li>CATIA etc.</li>
      </ul>
    </div>
    <div class="col-md-10">
      <u><h4>2D SOFWARES</h4></u>
      <ul>
        <li>AUTOCAD etc.</li>
      </ul>
    </div>
    <div class="col-md-10">
      <u><h4>DESIGN VALIDATION</h4></u>
      <ul>
        <li>CREO SIMULATE</li>
        <li>SOLIDWORKS SIMULATION AND FLOW SIMULATION</li>
      </ul>
    </div>
    <div class="col-md-10">
      <u><h4>OTHERS</h4></u>
      <ul>
        <li>CAD ELECTRICAL AND CIVIL</li>
      </ul>
    </div>
  </div>
</div>