<div class="container-fluid">
  <h1>Large Grid</h1>
  <p>The following example will result in a 25%/75% split on small devices, a 50%/50% split on medium devices, and a 33%/66% split on large devices. On extra small devices, it will automatically stack (100%).</p>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class=" col-md-6 text-center" (click)="touch(1)" >
      A
    </div>
    <div class="col-md-6 text-center"  (click)="touch(2)" >
      B
    </div>
    <div class=" col-md-6 text-center"  (click)="touch(3)" >
      C
    </div>
    <div class="col-md-6 text-center"  (click)="touch(4)" >
      D
    </div>
  </div>
</div>