<div class="text-center">
  <h1>DESIGN AUTOMATION</h1> 
</div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>
          VINOOTHNA's Design Automation team help customers reduce cost of developing new products and reduce design cycle time by improving productivity through design automation.
        </li>
        <li>
          Our engineers have capabilities in developing CAD / CAE customization tool to reduce design and analysis time to bring down the complete Product Development Life cycle time.
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <u><h3>Capabilities</h3></u>
      <ul>
        <li>Parametric Solid Modeling and Drafting</li>
        <li>Automated Blueprint Generation</li>
        <li>Knowledge Based Engineering (KBE)</li>
        <li>Automated FE Analysis</li>
        <li>Automated Product Documentation</li>
        <li>Automated Report Generation</li>
      </ul>
    </div>
  </div>
</div>