<div class="text-center">
  <h1>Implementation Service</h1> 
</div>

<div class="conatiner jumbotron">
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li>
          ReconEng is the leading provider of mechanical design, development and project implementation services; in addition to general engineering design, drafting, 3D modeling, and finite element analysis services. 
          We bring you real engineering value based on a lifetime of projects delivered with a simple design philosophy.
        </li>
        <li>
          Small dynamic team of Engineers with a can-do attitude.
        </li>
        <li>
          Combined youth and experience with Engineers 5 to 30+ years experience.
        </li>
        <li>
          Proven track record of leading and delivering large projects.
        </li>
        <li>
          Our design team has provided numerous advanced engineering solutions to a wide range of local and international clients; but our ability to deliver small and large projects, on time and within budget is why most of them come back to us.
        </li>
        <li>
          In today’s fiercely competitive market, compact design teams are expected to produce more with less. Our high-level technical capabilities and multi-skill knowledge can get your business ahead.
        </li>
      </ul>
    </div>
  </div>
</div>